<div class="mt-3"></div>
<div class="container">
  <div class="card border-primary text-center">
    <div class="card-header text-primary">
      <h1 class="card-title text-center text-primary">
        {{ titulo }}
      </h1>
    </div>
    <div class="card-body text-primary border-primary">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID Producto</th>
            <th>Nombre Producto</th>
            <th>Descripción</th>
            <th>Existencia</th>
            <th>Precio</th>
            <th>ID Categoría</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of listaProductos">
            <td>{{ producto.idproducto }}</td>
            <td>{{ producto.nombreproducto }}</td>
            <td>{{ producto.descripcionproducto }}</td>
            <td>{{ producto.existencia }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.idcategoria.idcategoria }}</td>
            <td>
              <button type="button" class="btn btn-outline-success btn-sm" (click)="abrirDialogActualizar(producto)">
                Actualizar
              </button>
              <button class="btn btn-outline-danger btn-sm" type="button" (click)="eliminarProducto(producto.idproducto)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-outline-primary btn-sm" (click)="abrirDialogAgregar()"> 
        Agregar Producto
      </button>
    </div>
  </div>
</div>
